.header-wrap{
    position: relative;
    @include mq(lg){
        position: relative;
        width: 100%;
    }
    .menu-content{
        &.sticky-top{
            position: fixed;
            width: 100%;
            top: -1px;
            z-index: 200;
            background: $white;
            @extend %box-shadow;
            .menu{
                li{
                    a{
                        color: $text-color;
                        transition: color $transition-speed-fast;
                        &:before{
                            background-color: $primary;
                        }
                        @include on-event{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}