.banners{
    position: relative;
    @include mq(lg){
        position: relative;
    }
    img{
        width: 100%;
        height: auto;
    }
    .banner-desc{
        position: static;
        width: 100%;
        padding: 10px;
        margin-bottom: 60px;
        @include mq(md){
            position: absolute;
            padding: 30px;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
            margin-bottom: 0;
        }
        .banner-title{
            color: $primary;
            @include text-shadow( 0, 7px, 15px, rgba($black, .25));
            @include mq(md){
                color: $white;
            }
        }
        .subtitle{
            display: block;
            padding-top: 10px;
            color: $text-color;
            @include mq(md){
                color: $white;
            }
        }
    }
}

// .slick-arrow{
//     border: 0;
//     width: 40px;
//     height: 60px;
//     font-size: 0;
//     background: rgba($black, .35);
//     cursor: pointer;
//     outline: 0;
//     opacity: 1;
//     &:before{
//         font-weight: 900;
//         font-family: "Font Awesome 5 Free";
//         color: rgba($white, .6);
//         font-size: 2.6rem;
//         transition: color $transition-speed-fast;
//     }
//     @include on-event{
//         &:before{
//             color: rgba($white, .8);
//         }
//     }
//     @include mq(md){
//         opacity: 1;
//     }
// }
// .slick-prev, .slick-next{
//     position: absolute;
//     top: 50%;
//     z-index: 50;
//     transform: translateY(-50%);
// }
// .slick-prev{
//     left: 0;
//     &:before{
//         content: '\f104';
//     }
// }
// .slick-next{
//     right: 0;
//     &:before{
//         content: '\f105';
//     }
// }

// .slick-dots{
//     position: absolute;
//     left: 50%;
//     bottom: 14px;
//     transform: translateX(-50%);
//     display: block;
//     padding: 0;
//     margin: 0 auto;
//     list-style: none;
//     z-index: 2;
//     @include mq(md){
//         bottom: 20px;
//     }
//     li{
//         display: inline-block;
//         margin: 0 5px;
//         button{
//             width: 10px;
//             height: 10px;
//             background-color: rgba($white, .6);
//             border: 0;
//             font-size: 0;
//             text-indent: -999px;
//             border-radius: 100%;
//             cursor: pointer;
//             outline: 0;
//             @include mq(md){
//                 width: 14px;
//                 height: 14px; 
//             }
//         }
//         &.slick-active{
//             button{
//                 background-color: rgba($black, .6);
//             }
//         }
//     }
// }