.form{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.form-group{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    .form-control{
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        min-height: 35px;
        color: $gray-60;
        background-color: $gray-90;
        border: 0;
        outline: none;
        @include input-placeholder{
            color: $gray-60;
            border: 0;
            outline: none;
        }
    }
    .form-label{
        text-align: left;
        @include mq(md){
            text-align: right;
        }
    }
}

.form-btn{
    display: inline-block;
    float: right;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: $font-family-sans-serif;
    letter-spacing: .1em;
    border: 0;
    border-radius: 12px;
    background-color: $primary;
    color: $white; 
    outline: none;
    cursor: pointer;
}