.images{
    display: block;
    
    .images-content{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 20px;
        @include mq(md){
            margin-top: 40px;
        }
        .coach-img{
            display: block;
            width: 100%;
        }
        .overlay{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity $transition-speed-normal;
            .overlay-bg{
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($primary, .5);
            }
            .name{
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                color: $white;
                font-family: $font-family-monospace;
                font-weight: $font-weight-light;
                transition: top $transition-speed-normal;
            }
        }
        @include on-event{
            .overlay{
                opacity: 1;
                .name{
                    top: 50%;
                }
            }
        }
    }
}