.logo{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mq(xs){
        width: 80%;
    }
    @include mq(sm){
        width: 60%;
    }
    @include mq(md){
        width: 45%;
    }
    @include mq(lg){
        width: 25%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}
.menu-content{
    &.sticky-top{
        .logo{
            display: block;
            width: 65%;
            height: auto;
            @include mq(md){
                width: 45%;
            }
            @include mq(lg){
                width: 25%;
            }
        }
    }
}

.footer-logo{
    display: inline-block;
    margin-top: 60px;
}