.menu-content{
    position: relative;
    background-color: $white;
    @include mq(lg){
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
        z-index: 10;
    }
    .menu{
        list-style: none;
        display: none;
        @include mq(lg){
            display: flex;  
        }
        li{
            display: inline-block;
            margin-left: 40px;
            &:nth-child(1){
                margin-left: 0;
            }
            a{
                position: relative;
                display: block;
                color: $white;
                &:before{
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    content: '';
                    width: 0%;
                    height: 1px;
                    background-color: $white;
                    transition: width $transition-speed-normal
                }
                @include on-event{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.mobile-menu-toggle{
    display: none;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    @include mq(lg){
        display: none;
    }
    li{
        display: block;
        a{
            display: block;
            padding: 10px 20px;
            color: $white;
            background: $primary;
            @include on-event{
                background: darken($primary, 10%);
            }
        }
    }
}