[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon{
    display: block;
    padding: 15px;
    font-size: 20px;
    color: $white;
    font-family: 'icomoon';
    background-color: transparent;
    border-radius: 100%;
    transition:  color $transition-speed-normal, background-color $transition-speed-normal;
    @include on-event{
        color: $primary;
        background-color: $white;
    }
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eaca";
}

.icon-pinterest:before {
    content: "\ead2";
}

.social{
    display: block;
    li{
        display: inline-block;
        list-style: none;
        margin: 0 12px;
    }
}

