.tabs{
    position: relative;
    .nav-tabs{
        display: block;
        list-style: none;
        padding-right: 0px;
        padding-left: 0px;
        @include mq(sm){
            padding-left: 15px;
            padding-right: 15px;
        }
        .tabs-link{
            display: inline-block;
            color: $white;
            width: 100%;
            padding: 15px;
            background-color: $gray-60;
            border-bottom: 1px solid  $box-bg;
            cursor: pointer;
            transition: all $transition-speed-fast;
            &.active{
                color: $gray-20; 
                background-color: $box-bg;
            }
            @include on-event{
                color: $gray-20; 
                background-color: $box-bg;
            }
            @include mq(sm){
                width: auto;
                margin-right: 5px;
                padding: 10px 25px;
                border-bottom-width: 0;
            }
        }
    }
    
    .tabs-content{
        display: none;
        .tabs-image{
            display: block;
            text-align: center;
            list-style: none;
            margin-bottom: 40px;
            .coach-img{
                display: block;
                width: 140px;
                height: auto;
                padding: 10px;
                margin: 0 auto 10px;
                img{
                    width: 100%;
                    @include box-shadow(0, 5px, 30px, rgba($black, .15));
                }
                @include mq(md){
                    display: inline-block;
                }
            }
        }
        .text{
            display: block;
            width: 90%;
            margin: 20px auto;
            @include mq(md){
                margin-bottom: 0;
            }
        }
        .btn{
            @include mq(md){
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }
}

.show{
    display: block !important;
}

.fade{
    animation: fade 1s;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.round-img{
    border-radius: 100%;
}