.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 45px;
    color: $white;
    border: 1px solid $white;
    border-radius: 50px;
    background-color: transparent;
    transition: all $transition-speed-normal;
    @include mq(md){
        margin-top: 30px;
    }
    &-white{
        font-family: $font-family-monospace;
        border-color: $primary;
        color: $primary;
        @include on-event{
            color: $white;
            background-color: $primary;
        }
        @include mq(md){
            border-color: $white;
            color: $white;
            @include on-event{
                border-color: $primary;
                background-color: $primary;
            }
        }
    }
    &-gray{
        padding: 10px 60px;
        border-color: $gray-40;
        background-color: $white;
        color: $gray-40;
        @include on-event{
            color: $white;
            background-color: $gray-40;
        }
    }
    &-blue{
        padding: 10px 60px;
        border-color: $primary;
        background-color: transparent;
        color: $primary;
        @include on-event{
            color: $white;
            background-color: $primary;
        }
    }
    &-green{
        padding: 10px 60px;
        border-color: $secondary;
        background-color: transparent;
        color: $secondary;
        @include on-event{
            color: $white;
            background-color: $secondary;
        }
    }
}


