%box-shadow{
    @include box-shadow(0, 10px, 15px, rgba($black, .15));
}

// 旅遊漸層
%bg-gradient{
    background: $primary;
    background: -moz-linear-gradient(-45deg, $primary 0%, $secondary 100%);
    background: -webkit-linear-gradient(-45deg, $primary 0%,$secondary 100%);
    background: linear-gradient(135deg, $primary 0%,$secondary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4facfe', endColorstr='#00f2fe',GradientType=1 );
}