@font-face {
    font-family: 'icomoon';
    src:  url('#{$font-url}/icomoon.eot?f5q9yh');
    src:  url('#{$font-url}/icomoon.eot?f5q9yh#iefix') format('embedded-opentype'),
      url('#{$font-url}/icomoon.ttf?f5q9yh') format('truetype'),
      url('#{$font-url}/icomoon.woff?f5q9yh') format('woff'),
      url('#{$font-url}/icomoon.svg?f5q9yh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  