.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.h-100{
  height: 100%;
}
.ml-auto{
  margin-left: auto;
}
.mr-auto{
  margin-right: auto
}
.text-mt{
  margin-top: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.d-block{
  display: block;
}

// container 的 padding
.margin-fluid{
  margin-top: $padding*3;
  margin-bottom: $padding*3;
  @include mq(md){
    margin-top: $padding*6.5;
    margin-bottom: $padding*6.5;
  }
  @include mq(xl){
    margin-top: $padding*10;
    margin-bottom: $padding*10;
  }
}

.margin-top-fluid{
  margin-top: $padding*3;
  @include mq(md){
    margin-top: $padding*6.5;
  }
  @include mq(xl){
    margin-top: $padding*10;
  }
}

.bg-gray{
  background-color: $box-bg;
}

h3, .title{
  color: $primary;
}

.p0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.padding-fluid{
  padding-top: $padding*3;
  padding-bottom: $padding*3;
  @include mq(md){
    padding-top: $padding*6.5;
    padding-bottom: $padding*6.5;
  }
  @include mq(xl){
    padding-top: $padding*10;
    padding-bottom: $padding*10;
  }
}
.padding-bottom-fluid{
  padding-bottom: $padding*3;
  @include mq(md){
    padding-bottom: $padding*6.5;
  }
  @include mq(xl){
    padding-bottom: $padding*10;
  }
}