.image-text{
    margin-right: -15px !important;
    margin-left: -15px !important;
    .image-text-content{
        display: block;
        .image-text-body{
            padding: 20px 30px 30px;
            text-align: center;
            .text{
                margin-top: 10px;
            }
            @include mq(md){
                padding: 30px 40px;
                .text{
                    margin-top: 30px;
                }
            }
        }
        
    }
}